<html>
    <head>
        <title>Kritika's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
<body>

    <div>
         {{ posts }}
    </div>


    <h1><a href="/">Django Girls Blog</a></h1><br>
    <a href="https://djangogirls.org">link</a> <br>
    
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

</body>
</html>